.station-header
	padding-top: 20px
	padding-bottom: 20px
	&__info
		display: flex
		align-items: center
		background: #EBF1F4
		border-radius: 8px
		font-size: 15px
		line-height: 1
		font-weight: 600
		color: #2e384d
		img
			margin-right: 12px